.array-container {
    /* position: absolute; */
    /* left: 100px; */
    margin-top: 5%;
    width: 100%;
}

.array-bar {
    width: 4px;
    background-color: aqua;
    display: inline-block;
    margin: 0 1px;
}

.button-group>button {
    margin: 5px;
}